:root {
    /* background-color: lightpink; */
    background-color: lightgray;
    /* padding-top: auto; */
}

#span-relogio {
    background-color: black;
    color: white;
    width: 160px;
    border-radius: 15%;
    text-align: center;
    font-size: 2em;
    margin: 20px;
}

#titulos {
    /* background-color: rgb(176, 189, 158); */
    /* font-size: 2em; */
    text-align: center;
    /* height: 55px; */
    height: auto;
    /* padding: 3px; */
    margin-top: auto;
    border-radius: 8px;
}

#apresentacao {
    background-color: black;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 50px;
    padding: 55px;
    border-radius: 155px;
}

#numero-candidato {
    display: inline-block;
    /* background-color: rgb(247, 226, 226); */
    background-color: blue;
    color: white;
    width: auto;
    text-align: center;
    height: auto;
    margin: 10px;
    padding: 10px;
    font-size: larger;
    border-radius: 155px;
}

#span-votos-computados {
    /* background-color: aliceblue; */
    background-color: black;
    color: aliceblue;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    /* border-radius: 15px; */
}

#div-span {
    background-color: blueviolet;
    text-align: center;
    width: auto;
    height: auto;
    /* font-size: 2em; */
    /* margin: 50px; */
    /* padding-top: 55px; */
    border-radius: 15px;
}

.div-span {
    background-color: lightseagreen;
    display: inline-block;
    width: 20%;
    /* width: auto; */
    height: 35px;
    margin: 15px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}

#span-resultado {
    background-color: lightgreen;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 3em;
    /* margin: 50px; */
    /* padding-top: 55px; */
    border-radius: 15px;
}